@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Smooth scrolling for the Wall of Memos */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #6F4E37;
  border-radius: 10px;
}